@{
    ViewData["Title"] = "Home Page";
}
    <div class="banana d-flex align-items-center flex-column justify-content-center h-100" id="header">
        <div class="d-flex align-items-center flex-column justify-content-center h-100">
            <h1>Banana Store</h1>
            <h3>Employee Kiosk</h3>
        </div>
        <div class="d-flex align-items-center flex-row justify-content-around h-100 w-100">
            <div class="col-6 text-center align-middle h-100">
                <div>
                    <a href="@Url.Action("ChooseCustomerType", "Orders")">
                        <i class="fas fa-clipboard"></i>
                        <div><h1>Start a New Order</h1></div>
                    </a>


                </div>
            </div>
            <div class="col-6 text-center align-middle h-100">
                <div>
                    <a href="@Url.Action("ChooseHistoryType", "Orders")">
                        <i class="fas fa-clipboard-list"></i>
                        <div><h1>Begin a History Search</h1></div>
                    </a>

                    
                    
                </div>
            </div>
        </div>
    </div>
