@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @Html.Partial("../Shared/_CustomerSearchForm.cshtml")
</div>
<div>
    @Html.Partial("../Shared/_CustomerCreateForm.cshtml")
</div>
<div>
    <a href="../Orders/LocationHistory?locationid=10">Store history</a>
</div>