
@{
    ViewData["Title"] = "ChooseHistoryType";
}

<h1 class="text-center">Choose History Type</h1>
<div class="container d-flex flex-row col-12">
    <div class="p-0 m-0">
        <div class="d-flex flex-column align-items-center justify-content-center">
            @Html.Partial("../Shared/_CustomerSearchForm.cshtml")
        </div>
    </div>
    <div class="p-0 m-0">
        <h1 class="text-center m-0">Order Location</h1>
        <div class="d-flex align-items-center flex-column justify-content-center">
            <div class="h-25 text-center">
                <a href="../Orders/LocationHistory?locationId=10" class="text-warning">
                    <h3>Bananas Enlighten</h3>
                    <img src="~/imgs/bananalogo.png" style="height:25px" ) />
                    <h5>Location 10</h5>
                </a>
            </div>
            <div class="h-25 text-center">
                <a href="../Orders/LocationHistory?locationId=20" class="text-warning">
                    <h3>Retro Bananas</h3>
                    <img src="~/imgs/bananalogo.png" style="height:25px" ) />
                    <h5>Location 20</h5>
                </a>
            </div>
            <div class="h-25 text-center">
                <a href="../Orders/LocationHistory?locationId=30" class="text-warning">
                    <h3>HighFive Bananas</h3>
                    <img src="~/imgs/bananalogo.png" style="height:25px" ) />
                    <h5>Location 30</h5>
                </a>
            </div>
        </div>
    </div>
</div>

