
@{
    ViewData["Title"] = "Choose Customer Type";
}

<div class="d-flex align-items-center flex-column justify-content-center h-100" id="header">
    <div class="d-flex align-items-center flex-column justify-content-center h-100">

        <h1>Choose Customer Type for Order</h1>
        <h3 class="text-muted"><em>Make your selection below.</em></h3>

        @if (TempData.ContainsKey("NonExistantUser") && TempData["NonExistantUser"].ToString() == "true")
        {<div class="alert alert-warning alert-dismissible fade show" role="alert">
                That customer does not exist in the database yet. Please try again or make another selection.
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        }

    </div>
        <div class="d-flex align-items-center flex-row justify-content-around h-100 w-100">
            <div class="col-6 text-center align-middle h-100">
                <div class="d-flex flex-column">
                    <a href="@Url.Action("Create", "Customers", new { actionMethod = "ChooseLocation", prevMethod = "ChooseCustomerType" })">
                        <i class="fas fa-user-plus"></i>
                        <div><h1>New Customer</h1></div>
                    </a>
                </div>
            </div>
            <div class="col-6 text-center align-middle h-100">
                <div class="d-flex flex-column">
                    <a href="@Url.Action("Search", "Customers", new { actionMethod = "ChooseLocation", prevMethod = "ChooseCustomerType" })">
                        <h1><i class="fas fa-user"></i></h1>
                        <div><h1>Exsisting Customer</h1></div>
                    </a>
                </div>
            </div>
        </div>
    </div> 

