
    <div class="border border-warning p-5 m-3">
        <h3>Search for a Customer by Name</h3>
        <form class="text-center" action="../../Customers/CustomerSearchResults" method="get">
            <input class="m-1" type="text" id="FirstName" name="FirstName" placeholder="First Name" value="" />
            <input class="m-1" type="text" name="LastName" placeholder="Last Name" value="" />
            <div class="text-center m-3 p-0">
                <input class="btn btn-outline-warning" type="submit" name="submit" value="Submit" />
            </div>
        </form>
    </div>
