<div class="border border-warning p-5 m-3">
        <h3>Create a New Customer</h3>
        <form class="form-group" action="Create" method="post">
            <input type="text" name="User_FirstName" value="" />
            <input type="text" name="User_LastName" value="" />
            <input type="submit" name="submit" value="Submit" />
        </form>
</div>
